{% extends "layout.html" %}

{% block extra %}
    <link rel="stylesheet" href="/static/about/about.css">
{% endblock extra %}

{% block body %}
    <h1>About this web app</h1>
    <div>
        <img src="/static/about/dadsql.png" alt="Oops">
        <h2>Create SQL with drag and drop</h2>
        <p>Repleace default SQL's full of text design with interactive UI</p>
    </div>
    <div>
        <img src="/static/about/dadsql.png" alt="Oops">
        <h2>Lots of customizable features</h2>
        <ul>
            <li>Change tables color, size</li>
            <li>Merge table, highlight values</li>
            <li>And ability to import or export tables</li>
        </ul>
    </div>
    <div>
        <img src="/static/about/dadsql.png" alt="Oops">
        <h2>Comes with a bonus minigames</h2>
        <p>Inspired by a detective game call Shadow of doubt</p>
    </div>
{% endblock body %}
