<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="interactive SQL">
        <meta name="keywords" content="drag, drop,SQL">
        <title>DragSQL</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        {% block extra %}{% endblock extra %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-light py-0">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <button class="nav-btn" onclick="add.showModal()">Import</button>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Export</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">{{ username }}</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/logout">Logout</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
        <!--Add tables-->
        <dialog id="add">
            <button class="btn btn-outline-danger btn-sm mb-2" onclick="add.close()">X</button>
            <form action="/import" method="get" class="form-control">
                <input class="form-control" type="file" required name="db">
                <button type="Submit" class="btn btn-primary">Submit</button>
            </form>
        </dialog>
        {% block body %}{% endblock body %}
    </body>
</html>
