{% extends "app_layout.html" %}

{% block extra %}
    <link rel="stylesheet" href="/static/app/app.css">
{% endblock extra %}

{% block body %}
    <main>
        <div id="sidebar">
            <h1 class="border-bottom">Tables</h1>
            <!-- Search bar-->
            <!-- Add collapse -->
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#Add" aria-expanded="false" aria-controls="collapseExample">
                Add table
            </button>
            <!-- database list -->
                {% for name in db_name %}
                <div>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#{{ loop.index }}" aria-expanded="false" aria-controls="{{ loop.index }}">
                        {{ name }}
                    </button>
                    <div class="collapse" id="{{ loop.index }}">
                        <div class="card card-body">
                            {% for table in tables %}
                                {% for name in table %}
                                    <button> {{ name["name"] }} </button>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}    
            </table>
        </div>
        <div id="workspace">
        </div>
        <div id="sidebar-properties">
            <h1 class="border-bottom">Inspector</h1>
        </div>
    </main>
{% endblock body %}