{% extends "app_layout.html" %}

{% block extra %}
    <link rel="stylesheet" href="/static/app/app.css">
    <script src="/static/app/app.js"></script>
{% endblock extra %}

{% block body %}
    <main>
        <div id="sidebar">
            <h1 class="border-bottom">Tables</h1>
            <!-- Search bar-->
            <!-- Add collapse -->
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#Add" aria-expanded="false" aria-controls="collapseExample">
                Add table
            </button>
            <!-- database list -->
            {% set ns = namespace(counter=0) %}
            {% for name in db_name %}
                <div class="dbs d-flex flex-column">
                    <button class="border-bottom bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#{{ loop.index }}" aria-expanded="false" aria-controls="{{ loop.index }}">
                        {{ name }} <span><div class="text-end">V</div></span>
                    </button>
                    <div class="collapse" id="{{ loop.index }}">
                        <div class="card card-body">
                            {% for table in tables[loop.index - 1] %}
                                <button onclick="addTable({{ datas[ns.counter] }}, '{{ table['name'] }}');"> {{ table["name"] }} </button>
                                {% set ns.counter = ns.counter + 1 %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}    
        </div>
        <div id="workspace">
            
        </div>
        <div id="sidebar-properties">
            <h1 class="border-bottom">Inspector</h1>
        </div>
    </main>
{% endblock body %}