{% extends "layout.html" %}

{% block extra %}
    <link rel="stylesheet" href="/static/login/login.css">
{% endblock extra %}

{% block body %}
	<form action="/register" method="post" id="login">
        <h1>Register</h1>
        <input type="text" placeholder="Name" name="name" autofocus autocomplete="off" required />
        <input type="password" placeholder="Password" name="password" autocomplete="off" required />
        <input type="password" placeholder="Confirm Password" name="confirmation" autocomplete="off" required />
        <button type="submit">Register</button>
        <p>{{ error }}</p>
    </form>
{% endblock body %}
